* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}


body {


    display: flex; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #C9BCE1; 
    
    
}



.content-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 720px;
    width: 720px;    
    background-color: white;
    padding: 15px; 
    border-radius: 45px;
    
}


header {

    display: flex;
    flex-direction: row;    
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 20px;    
    text-align: center;
    text-transform:uppercase;
    

}

header a img {

    width: 25px;
    height: 25px;
    position: relative;
    right: 180px;

}



#show{

    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    border: solid 1px;    
    padding: 1px;
    border-radius: 20px;
    width: 210px;
    margin: 2px;
    text-align: center;
    background-color: black;
    transition-duration: 0.5s;
    outline: none;
    padding: 7px;
}

#show:hover {

    outline: solid 3px black;
    background-color:#a6ff96;
    color: black;    

}

h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 20px;
         

}
h2{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 20px;
    position: relative;
    top: 50px;
    text-align: center;
    
    
}

form{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    text-align: justify;
    position: relative;
    top: 100px;     
    padding: 15px;
    border-radius: 25px;
    background-color: #a6ff96;
    justify-items: center;
    align-items: center;
    
}

label {
    
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 5px;   
   font-weight: bold;

}

#data-label{

    
    grid-row: 1/-1;
    grid-column: 1/-1;   
    display: flex;    
    align-items: center;
    gap: 10px;     
    
}

#local1-label{
    
    grid-column: 1;
    grid-row: 2;    
    display: flex;    
    align-items: center;
    gap: 5px;    
}

#local2-label {
    
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;    
    gap: 10px;
    
}
#tag-label {

    display: flex;    
    align-items: center;
    gap: 10px;    
    grid-column: 1;
    grid-row: 3;    
    
}

#equipament-label {
    
   
    grid-column: 2;
    grid-row: 3;
    
}
#description-label {
    
    display: flex;    
    align-items: center;
    gap:2px;
    grid-column: 2/1;   
    
}


button{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: white;
    border: solid 1px;    
    padding: 2px;
    border-radius: 20px;    
    margin: 2px;
    text-align: center;
    background-color: black;
    transition-duration: 0.5s;
    grid-column: 2;
    grid-row: 4;


}

button:hover {


    outline: solid 3px black;
    background-color:grey;
    color: black;

}

#footer-buttons {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    
}


footer {


    position: relative;
    top: 160px;


}
